h1{
    font-size: 30px;
    text-align:left;
}
input{
    width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit]{
    background-color: green;
}

input[type=text] {
    width: 60%;
  padding: 12px 100px;
  margin: 8px 0;
  box-sizing: border-box;
}
}
